.info-block {
  padding: 150px 0 40px;
  @media (max-width: 767px) {
    padding-top: 90px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .info {
    width: 58%;
    padding-right: 20px;
    @media (max-width: 1024px) {
      width: 100%;
      padding-right: 0;
    }
    .main-title {
      margin-bottom: 15px;
      @media (max-width: 1200px) {
        font-size: 44px;
        max-width: 550px;
      }
      @media (max-width: 1024px) {
        max-width: 550px;
      }
      @media (max-width: 767px) {
        font-size: 34px;
        max-width: 420px;
      }
    }
    p {
      font-size: 28px;
      margin-bottom: 30px;
      color: white;
      font-weight: 400;
      @media (max-width: 1200px) {
        font-size: 24px;
      }
      @media (max-width: 767px) {
        font-size: 18px;
      }
      b {
        font-weight: bold;
      }
    }
  }
  .ai-block {
    max-width: 470px;
    width: 100%;
    border-radius: 20px;
    height: 450px;
    margin-top: 20px;
    @media (max-width: 1024px) {
      max-width: 100%;
      height: 400px;
    }
  }
}

.info-slider {
  width: 100%;
  height: 170px;
  padding-left: 0;
  padding-right: 20px;
  position: relative;

  .info-slider-loading {
    position: absolute;
    top: 0;
    left: 17px;
    right: 20px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    z-index: 10;

    .loading-spinner {
      width: 40px;
      height: 40px;
      border: 4px solid rgba(255, 255, 255, 0.3);
      border-top-color: #fff;
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.info-slider .swiper-slide {
  border-radius: 20px;
  overflow: hidden;
  margin: 0;
  position: relative;
  height: 100%;
}

.info-slider img,
.info-slider span {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}

.info-slider span {
  position: relative;
  display: block;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
  width: 35px;
  height: 35px;
  display: flex;
  &.swiper-button-next {
    right: -9px;
  }
  &.swiper-button-prev {
    left: -11px;
    img {
      transform: rotate(180deg);
    }
  }
  img {
    margin: auto;
    width: 100%;
  }
  &:after {
    content: none;
  }
}
