::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(196, 68, 255, 0.45);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(196, 68, 255, 0.7);
}

* {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

body {
  background: var(--gradient-body);
  min-height: 100dvh;
  background-attachment: fixed;
}

body,
html {
  &.overflow {
    overflow: hidden;
  }
}

.container {
  padding: 0 var(--container-padding);
  width: 100%;
  max-width: var(--container-max);
  margin: 0 auto;
}

.main-title {
  font-size: 60px;
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
  @media (max-width: 1200px) {
    font-size: 50px;
  }
  @media (max-width: 1024px) {
    font-size: 44px;
    margin-bottom: 10px;
  }
  @media (max-width: 767px) {
    font-size: 34px;
  }
}

.main-subtitle {
  font-size: 28px;
  color: white;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
  @media (max-width: 1024px) {
    font-size: 22px;
  }
  @media (max-width: 767px) {
    font-size: 18px;
    margin-bottom: 30px;
  }
}
