@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #626e5270;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #788865;
}

* {
  font-family: 'Roboto', sans-serif;
  line-height: normal;
}

a {
  text-decoration: none;
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

body {
  background: linear-gradient(235deg, #c444ff 0%, #562999 59.78%);
  min-height: 100dvh;
  background-attachment: fixed;
}

body,
html {
  &.overflow {
    overflow: hidden;
  }
}

.container {
  padding: 0 20px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.main-title {
  font-size: 60px;
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
  @media (max-width: 1200px) {
    font-size: 50px;
  }
  @media (max-width: 1024px) {
    font-size: 44px;
    margin-bottom: 10px;
  }
  @media (max-width: 767px) {
    font-size: 34px;
  }
}

.main-subtitle {
  font-size: 28px;
  color: white;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
  @media (max-width: 1024px) {
    font-size: 22px;
  }
  @media (max-width: 767px) {
    font-size: 18px;
    margin-bottom: 30px;
  }
}
