.promotion-section {
  margin: 80px 0;
  padding: 0;
  position: relative;
  overflow: hidden;

  @media (max-width: 1024px) {
    margin: 60px 0;
  }

  @media (max-width: 767px) {
    margin: 40px 0;
  }
}
